
{% extends "common/base.html" %}

{% block title %} Registered Users{% endblock %}

{% block content %}
<table class="table">
<tr>
<th>Username</th>
<th>Name</th>
<th>Email</th>
<th>DOB</th>
<th>Sex</th>
<th>&nbsp;</th>
</tr>

{% if rec_count > 0 %}
{% for key in records %}
<tr>
<td>{{ key.username }}</td>
<td>{{ key.first_name }} {{ key.last_name }}</td>
<td>{{ key.email }}</td>
<td>{{ key.date_of_birth }}</td>
<td>{{ key.sex }}</td>
<td><a href="/registration/profile/{{key.id}}">View</a></td>
</tr>


{% endfor %}
{% else %}
No records found
{% endif %}
</table>
{% endblock %}
