{% extends "common/base.html" %}

{% block title %} User Profile{% endblock %}

{% block content %}
{% load to_json %}

{% if message %} <div class="text-info">{{message}}</div> {% endif %}

<section class="well span6">
<img src="/static/{{user_data.profile_image}}" class="span4" style="height:200px;"/>

<table class="table">

<tr>
    <th  align="left">Name</th>
    <td>{{user_data.f_name}} {{user_data.l_name}}</td>
</tr>
<tr>
    <th  align="left">Email</th>
    <td>{{user_data.email}}</td>
</tr>
<tr>
    <th  align="left">Date Of Birth</th>
    <td>{{user_data.date_of_birth}}</td>
</tr>
<tr>
    <th  align="left">Sex</th>
    <td>{{user_data.sex}}</td>
</tr>
</table>
</section>

<section class="well span6" style="">
    <div>
            <div class="linkPreview">
                <div id="previewLoading"></div>
                <div style="float: left;">
                    <textarea id="text"> What's on your mind?</textarea>
                    <div style="clear: both"></div>
                </div>
                <div id="preview">
                    <div id="previewImages">
                        <div id="previewImage"><img src='/static/img/loader.gif' style='margin-left: 43%; margin-top: 39%;' ></img></div>
                        <input type="hidden" id="photoNumber" value="0" />
                    </div>
                    <div id="previewContent">
                        <div id="closePreview" title="Remove" ></div>
                        <div id="previewTitle"></div>
                        <div id="previewUrl"></div>
                        <div id="previewDescription"></div>
                        <div id="hiddenDescription"></div>
                        <div id="previewButtons" >
                            <div id='previewPreviousImg' class="buttonLeftDeactive" ></div><div id='previewNextImg' class="buttonRightDeactive"  ></div>  <div class="photoNumbers" ></div> <div class="chooseThumbnail">Choose a thumbnail</div>
                        </div>
                        <input type="checkbox" id="noThumb" class="noThumbCb" />
                        <div class="nT"  ><span id="noThumbDiv" >No thumbnail</span></div>
                    </div>
                    <div style="clear: both"></div>
                </div>
                <div style="clear: both"></div>
                <div id="postPreview">
                    <input class="postPreviewButton" type="submit" value="Post" />
                    <div style="clear: both"></div>
                </div>
       <div style="border-bottom:1px solid #e3e3e3;" class="previewPostedList">
       {% for result in wall_data %}
                          {% autoescape off %}
                         <div class="span6"><strong>
                              <a href="{% url "user_profile" result.user_id %}">{{result.f_name}} {{result.l_name}}</a> 
                                says:</strong></div>
                                <div>{{result.date_time}}</div>
                          <div class="previewPosted">
                            <div class="previewTextPosted">{{ result.wall_content|json_lp:'urls' }}</div>
                             {% if result.wall_content|json_lp:'videoFlag' %}
                                {% autoescape off %}
                                  {{ result.wall_content|json_lp:'videoIframe' }}
                                {% endautoescape %}
                             {% endif %}
                            <div class="previewImagesPosted">
                              <div class="previewImagePosted">
                                <img src='{{ result.wall_content|json_lp:'imgSrc' }}' style='width: 130px; height: auto; float: left;' ></img>
                                {% if result.wall_content|json_lp:'videoFlag' == 'true' %}
                                    <span class="videoPostPlay"></span>
                                {% endif %}
                              </div>
                            </div>
                            <div class="previewContentPosted">
                              <div class="previewTitlePosted" id="{{result.wall_content|json_lp:'pTP'}}" style="width:{{result.wall_content|json_lp:'contentWidth'}}px" >
                                <a href="{{result.wall_content|json_lp:'hrefUrl'}}" target="_blank">{{result.wall_content|json_lp:'title'}}</a></div>
                              <div class="previewUrlPosted">{{result.wall_content|json_lp:'fancyUrl'}}</div>
                              <div class="previewDescriptionPosted" id="{{result.wall_content|json_lp:'pDP'}}" style="width: '{{result.wall_content|json_lp:'contentWidth'}}px">{{result.wall_content|json_lp:'description'}}</div>
                            </div>
                            <div style="clear: both"></div>
                          </div>
                          {% endautoescape %}    	       
       <br />
       <div style="clear:both;"></div>
   {% empty %}
       <!-- <p>No results found.</p> -->
   {% endfor %}
   </div>
   
   </div>
   </div>


</section>

{% endblock %}
