
{% extends "common/base.html" %}

{% block title %} User Profile{% endblock %}
{% block content %}
<section class="well span6">
<img src="/static/{{user_data.profile_image}}" class="span4" style="height:200px;"/>

<table class="table">

<tr>
    <th  align="left">Name</th>
    <td>{{user_data.f_name}} {{user_data.l_name}}</td>
</tr>
<tr>
    <th  align="left">Email</th>
    <td>{{user_data.email}}</td>
</tr>
<tr>
    <th  align="left">Date Of Birth</th>
    <td>{{user_data.date_of_birth}}</td>
</tr>
<tr>
    <th  align="left">Sex</th>
    <td>{{user_data.sex}}</td>
</tr>
</table>
</section>

<section class="well span6">
    <form method="post" action="{% url "me" %}">
    {% csrf_token %}
        <table>
            
            <textarea cols="170" id="id_wall_content" name="wall_content" rows="5" style="width:390px;"></textarea>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Submit">
                </td>
            </tr>
        </table>
    </form>
       {% for result in wall_data %}
       <div>
       <div class="span3"><img src="/static/{{result.profile_image}}" width=""></div>
       <div><strong>{{result.f_name}} {{result.l_name}}</strong>
       <br />
       {{result.wall_content}}
       </div>
       </div>
       <br />
       <p>
           {% comment %}
           {{result.content_type}}
           {% endcomment %}
           {{result1 }}
       </p>
   {% empty %}
       <p>No results found.</p>
   {% endfor %}
</section>

{% endblock %}
